body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.intro-screen,
.quiz-screen,
.result-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-screen {
  position: relative;
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.game-list {
  padding: 10px 20px;
}

.quiz_title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn-result{
  margin-bottom: 20px;
}

#games-list {
  list-style: none;
  padding: 0;
}

#games-list li {
  margin-bottom: 10px;
}

#submit-btn {
  margin-top: 20px;
}

.hidden {
  display: none;
}

#timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
  font-weight: bold;
  text-align: center;
}

.btn {
  font-size: 1.2rem;
  border-radius: 50px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #555;
  cursor: pointer;
}

#games-list {
  display: grid;
  grid-template-columns: 1fr; /* 1 колонка по умолчанию */
  gap: 10px; /* расстояние между элементами списка */
}

@media (min-width: 480px) {
  /* для маленьких экранов (мобильных) */
  #games-list {
    grid-template-columns: 1fr 1fr; /* 2 колонки */
  }
}

@media (min-width: 768px) {
  /* для планшетов */
  #games-list {
    grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  }
}

@media (min-width: 1024px) {
  /* для десктопов */
  #games-list {
    grid-template-columns: repeat(4, 1fr); /* 4 колонки для широких экранов */
  }
}

@media (max-width: 767px) {
  .btn:hover {
    pointer-events: none;
  }
}