.text {
  margin: 4rem 0 3rem 0;
  font-family: Ubuntu;
  color:  #0bbaf0;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
strong {
  font-weight: 700;
  font-size: 3.6rem;
}
.text {
  text-align: center;
}
.box {
  width: 860px;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
}

* 
* Формируем базовый контейнер аккордеона 
*/
.accordion {
    width: 100%;
/*
ширина произвольная выбирается
*в зависимости от места размещения 
*/
    max-width: 600px;
    min-height: 0;
    display: block;
/* относительное позиционирование */
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: #fefffa;
    overflow: hidden
}
/* заголовки панелей аккордеона */
.accordion h2 {
    font-family: Ubuntu;
    color:  #ffffff;
    font-size: 2.32rem;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    padding: 10px 25px;
    cursor: pointer;
    background: #0bbaf0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* заголовки панелей аккордеона при наведении
* в данном варианте не срабатывает
*/
/* .accordion h2:hover {
    display: block;
    background-color: #005049;
}
*/
 
/* Формируем блоки с содерханием */
.msg {
  border-radius: 0 0 10px 10px;
  border-width: 0 4px 4px 4px;
  border-color:  #dcdcdc;
  border-style: solid;
  background-color:  #ffffff;
  width: 838px;
  height: 134px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin: 0 5px 0 10px;
}
 
/* оформляем параграфы */
.msg p {
  font-family: 'Ubuntu';
  color:  #535353;
  font-size: 2.2rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: left;
  height: 50px;
  padding: 10px 60px 40px 25px;
}
 
/* Позаботимся о небольших экранах */
@media (max-width: 550px) {
  .accordion {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }
} 
 
/* Формируем неупорядоченный список */
.accordion ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
 
/* Определяем и формируем отдельный элемент списка 
 * в который поместим скрытый флажек,
 * заголовок панелей и блок с содержанием
*/
.accordion ul li {
  position: relative;
  padding: 0;
  margin: 0;
}
 
/* устанавливаем время ожидания перед воспроизведением анимации 
 * на основе нумерации в дереве элементов
*/
.accordion ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
.accordion ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
.accordion ul li:nth-of-type(3) {
  animation-delay: 1s;
}
.accordion ul li:last-of-type {
  padding-bottom: 0;
}
 

/* Делаем чекбокс скрытым*/
.accordion ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}
/* Когда у флажка установлен checked  
 * блок с содержанием скрыт
*/
.accordion ul li input[type=checkbox]:checked ~ div.msg {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}